@import 'config';
@import 'menu';


* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    font-family: 'Montserrat', sans-serif;
    max-width: 90rem;
    height: 100%;
    margin: 0 auto;
    line-height: 1.5;
}

// HEADINGS 

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg__heading  {
      font-size: 6rem;  
    }

    &.sm__heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background:  rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text__secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    //height: 100%;
    min-height: calc(100vh - 3.75rem);

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover,
            &:focus {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
      overflow: hidden;
      h1 {
        margin-top: 20vh;
      }
    }
}

// ABOUT PAGE 

.about__info {
    display: grid;
    gap: 1.875rem;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio__image {
        grid-area: bioimage; 
        margin: auto;
        border-radius: 50%;
        border: 3px solid $secondary-color;
     }
     
     .bio {
         grid-area: bio;
         font-size: 1.5rem;
     }
     
     .job__1 {
         grid-area: job1;
     }
     
     .job__2 {
         grid-area: job2;
     }
     
     .job__3 {
         grid-area: job3;
     }
     
     .job {
       background: lighten($primary-color, 5); 
       padding: 1rem;
       border-bottom: 5px solid $secondary-color;
       border-radius: 10px;
     
     }
}

// MY WORK/PROJECTS

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    

    img {
        width: 100%;
        border: 2px solid hsl(0, 0%, 100%);
        border-radius: .625rem;

       &:hover,
       &:focus {
        opacity: 0.6;
        border-color: $secondary-color; 
        @include easeOut;
       } 
    }
}

// BUTTON STYLES

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: .625rem;
  margin-bottom: 0.3rem;

  &:hover,
  &:focus {
    background: $secondary-color;
    color: set-text-color($secondary-color);
    @include easeOut;
  }
}

.btn__dark {
   @extend .btn; 
   background: darken($primary-color, 50);
   color: hsl(0, 0%, 100%);
}

.btn__light {
  @extend .btn;
  background: lighten($primary-color, 50);
   color: hsl(0, 0%, 20%);
}

#main__footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 3.75rem;
}

@import 'mobile';


